{{!-- <div>
    Todo listo para trabajar con sockets
</div>
<p id="message"></p> --}}
<h1>Bienvenidos al coder chat comunitario</h1>
<div>
    <input id="chatBox">
</div>
<div>
    <p id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>